<div class="container">
  <h3 class="page-title">Geocode Address</h3>

  <div class="input-section">
    <input class="address-input" placeholder="Street, City, State, Country, Zipcode" />

    <button class="get-coordinates">Get Coordinates</button>
  </div>
</div>