<div class="container">
  <h3 class="page-title">Geocode Address</h3>

  <%= form_tag("/address", remote: true) do %>
    <%= text_field_tag 'query', nil, placeholder: 'Street, City, State, Zipcode, Country', class: 'address-input', required: true %>
    <%= submit_tag "Get Coordinates", class: 'get-coordinates' %>
  <% end %>

</div>